.App {
  text-align: center;
}

.boxContainer{
  background-color: rgba(196, 194, 194, 0.652);
}
.Card{
  padding: 5rem;
  width: 30rem;
  border-radius: 1rem !important;
}
.output{
  padding: 1rem;
  background: #5a5978;
  border-radius: 1.5rem;
  color: #fff;
}